{% extends "booking/layout.html" %}

{% block body %}

<p>SETTINGS</p>

    <div>
    <h2>Adress</h2>
    <a href="add_address">Add</a>
    </div>
    {% for address in addresses %}
    <div class="address"><p>
        {{ address.city }}
        {{ address.street }} 
        {{ address.street_number }} 
        {{ address.postcode }}
        <a href="edit_address/{{ address.id }}">Edit</a>
        <a href="addressdelete/{{ address.id }}">Delete</a>
    </p></div>
    {% endfor %}
    <div>
    <h2>Bikes</h2>
    <a href="add_bike">Add</a>
    </div>
    {% for bike in bikes %}
      {{ bike.brand }}
      {{ bike.model }}
      {{ bike.year }}
      {{ bike.sn }}
        <a href="edit_bike/{{ bike.pk }}">Edit</a>
        <a href="bikedelete/{{ bike.pk }}">Delete</a>
    {% endfor %}
{% endblock %}
