{% extends "booking/layout.html" %}

{% block body %}

<p>SETTINGS</p>
    <h2>Adress</h2>

    {% if form %}

    {% include 'add_address.html' %}
 
    {% else %}

    {% for address in addresses %}
    <div class="address"><p>
        {{ address.city }}
        {{ address.street }} 
        {{ address.street_number }} 
        {{ address.postcode }}
        <a href="addressedit/{{ address.id }}">Edit</a>
        <a href="addressdelete/{{ address.id }}">Delete</a>
    </p></div>
    {% endfor %}
    <a href="add_address">Add</a>
    <h2>Bikes</h2>
    {% for bike in bikes %}
      {{ bike.brand }}
      {{ bike.model }}
      {{ bike.year }}
      {{ bike.sn }}
        <a href="bikeedit/{{ bike.id }}">Edit</a>
        <a href="bikedelete/{{ bike.id }}">Delete</a>
    {% endfor %}
    <a href="bikeadd">Add</a>
    {% endif %}
{% endblock %}
