{% extends "booking/layout.html" %}

{% block body %}

<p>SETTINGS</p>
    <h2>Adress</h2>
    {% for adres in adress %}
    <div class="adress"><p>
        {{ adres.city }}
        {{ adres.street }} 
        {{ adres.street_number }} 
        {{ adres.postcode }}
    </p></div>
    {% endfor %}
    
    <form class="forms" method="POST" action="{% url 'add_address' user_login=user.username %}">
        {{ form }}
        {% csrf_token %}
        <input type="submit" value="Submit">
    </form>

{% endblock %}
