{% load i18n %}
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'visits' %}">Visits</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'favourite' %}">Favourite</a>
            </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'bike' %}">Bikes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'address' %}">Address</a>
                </li>
        </ul>
